/* screen - 08-tarifs-menu-desktop */

.x08-tarifs-menu-desktop {
  align-items: flex-start;
  background-color: var(--bianca);
  display: flex;
  height: 1080px;
  padding: 28.4px 42.6px;
  width: 1920px;
}

.x08-tarifs-menu-desktop .groupe-8003 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 27px;
  width: 372.04px;
}

.x08-tarifs-menu-desktop .flex-row {
  align-items: flex-end;
  display: flex;
  margin-right: 10.45px;
  min-width: 256px;
}

.x08-tarifs-menu-desktop .overlap-group {
  height: 246px;
  margin-bottom: 0;
  margin-left: 11px;
  position: relative;
  width: 74px;
}

.x08-tarifs-menu-desktop .groupe-7405 {
  background-image: url(../img/groupe-7403-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 7px;
  left: 41px;
  opacity: 0.28;
  position: absolute;
  top: 186px;
  width: 3px;
}

.x08-tarifs-menu-desktop .groupe-7408 {
  background-image: url(../img/groupe-7406-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 5px;
  left: 42px;
  opacity: 0.28;
  position: absolute;
  top: 180px;
  width: 1px;
}

.x08-tarifs-menu-desktop .groupe-7417 {
  background-image: url(../img/groupe-7415-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 6px;
  left: 46px;
  opacity: 0.28;
  position: absolute;
  top: 95px;
  width: 1px;
}

.x08-tarifs-menu-desktop .groupe-7438 {
  background-image: url(../img/groupe-7436-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 3px;
  left: 45px;
  opacity: 0.28;
  position: absolute;
  top: 184px;
  width: 1px;
}

.x08-tarifs-menu-desktop .groupe-7456 {
  background-image: url(../img/groupe-7454-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 41px;
  opacity: 0.28;
  position: absolute;
  top: 180px;
  width: 1px;
}

.x08-tarifs-menu-desktop .groupe-7462 {
  background-image: url(../img/groupe-7460-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 41px;
  opacity: 0.28;
  position: absolute;
  top: 202px;
  width: 1px;
}

.x08-tarifs-menu-desktop .groupe-7471 {
  background-image: url(../img/groupe-7469-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 42px;
  opacity: 0.28;
  position: absolute;
  top: 216px;
  width: 1px;
}

.x08-tarifs-menu-desktop .groupe-7474 {
  background-image: url(../img/groupe-7472-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 3px;
  left: 46px;
  opacity: 0.28;
  position: absolute;
  top: 214px;
  width: 1px;
}

.x08-tarifs-menu-desktop .groupe-7537 {
  background-image: url(../img/groupe-7535-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 40px;
  opacity: 0.28;
  position: absolute;
  top: 215px;
  width: 1px;
}

.x08-tarifs-menu-desktop .groupe-7558 {
  background-image: url(../img/groupe-7556-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 67px;
  opacity: 0.28;
  position: absolute;
  top: 89px;
  width: 1px;
}

.x08-tarifs-menu-desktop .groupe-7573 {
  background-image: url(../img/groupe-7571-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 7px;
  left: 4px;
  opacity: 0.28;
  position: absolute;
  top: 68px;
  width: 2px;
}

.x08-tarifs-menu-desktop .groupe-7579 {
  background-image: url(../img/groupe-7577-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 6px;
  opacity: 0.28;
  position: absolute;
  top: 70px;
  width: 1px;
}

.x08-tarifs-menu-desktop .overlap-group3 {
  align-items: flex-start;
  align-self: center;
  background-image: url(../img/trac--2660-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  margin-left: 3px;
  margin-top: 18.63px;
  min-width: 28px;
}

.x08-tarifs-menu-desktop .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 6.41px;
  margin-left: 11px;
  min-height: 152px;
  width: 16px;
}

.x08-tarifs-menu-desktop .group-container {
  height: 130px;
  position: relative;
  width: 16px;
}

.x08-tarifs-menu-desktop .group-container-1 {
  height: 130px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 15px;
}

.x08-tarifs-menu-desktop .overlap-group2 {
  height: 130px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 14px;
}

.x08-tarifs-menu-desktop .groupe-7600 {
  background-image: url(../img/groupe-7598-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 3px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 94px;
  width: 3px;
}

.x08-tarifs-menu-desktop .groupe-7678 {
  background-image: url(../img/groupe-7676-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 7px;
  opacity: 0.28;
  position: absolute;
  top: 116px;
  width: 1px;
}

.x08-tarifs-menu-desktop .groupe-7684 {
  background-image: url(../img/groupe-7682-5@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 44px;
  width: 1px;
}

.x08-tarifs-menu-desktop .groupe-container {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-left: 5px;
  margin-top: 106.82px;
  min-height: 3px;
  width: 1px;
}

.x08-tarifs-menu-desktop .group-container-2 {
  height: 162px;
  margin-bottom: 0;
  position: relative;
  width: 52px;
}

.x08-tarifs-menu-desktop .group-container-3 {
  height: 162px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 51px;
}

.x08-tarifs-menu-desktop .overlap-group1 {
  height: 162px;
  left: 0;
  position: absolute;
  top: 0;
  width: 51px;
}

.x08-tarifs-menu-desktop .groupe-7759 {
  background-image: url(../img/groupe-7757-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 60px;
  width: 1px;
}

.x08-tarifs-menu-desktop .groupe-7786 {
  background-image: url(../img/groupe-7784-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 5px;
  left: 0;
  opacity: 0.28;
  position: absolute;
  top: 123px;
  width: 4px;
}

.x08-tarifs-menu-desktop .groupe-7798 {
  background-image: url(../img/groupe-7796-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 4px;
  left: 3px;
  opacity: 0.28;
  position: absolute;
  top: 58px;
  width: 2px;
}

.x08-tarifs-menu-desktop .groupe-7807 {
  background-image: url(../img/groupe-7805-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 3px;
  left: 6px;
  opacity: 0.28;
  position: absolute;
  top: 72px;
  width: 2px;
}

.x08-tarifs-menu-desktop .groupe-7810 {
  background-image: url(../img/groupe-7808-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 3px;
  left: 21px;
  opacity: 0.28;
  position: absolute;
  top: 134px;
  width: 2px;
}

.x08-tarifs-menu-desktop .groupe-7882 {
  background-image: url(../img/groupe-7880-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 3px;
  opacity: 0.28;
  position: absolute;
  top: 99px;
  width: 1px;
}

.x08-tarifs-menu-desktop .groupe-7951 {
  background-image: url(../img/groupe-7949-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 30px;
  opacity: 0.28;
  position: absolute;
  top: 81px;
  width: 1px;
}

.x08-tarifs-menu-desktop .groupe-7981 {
  background-image: url(../img/groupe-7979-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 16px;
  opacity: 0.28;
  position: absolute;
  top: 149px;
  width: 1px;
}

.x08-tarifs-menu-desktop .groupe-7987 {
  background-image: url(../img/groupe-7985@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 27px;
  opacity: 0.28;
  position: absolute;
  top: 18px;
  width: 1px;
}

.x08-tarifs-menu-desktop .groupe-7999 {
  background-image: url(../img/groupe-7997-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 6px;
  opacity: 0.28;
  position: absolute;
  top: 135px;
  width: 1px;
}

.x08-tarifs-menu-desktop .flex-col-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 697px;
  margin-top: 256.06px;
  min-height: 514px;
  width: 360px;
}

.x08-tarifs-menu-desktop .accueil {
  cursor: pointer;
  letter-spacing: 3.30px;
  line-height: 22px;
  min-height: 25px;
  min-width: 116px;
  white-space: nowrap;
}

.x08-tarifs-menu-desktop .explorer-le-gte {
  cursor: pointer;
  letter-spacing: 3.30px;
  line-height: 22px;
  margin-right: 7px;
  margin-top: 71px;
  min-height: 29px;
  min-width: 255px;
  white-space: nowrap;
}

.x08-tarifs-menu-desktop .galerie {
  cursor: pointer;
  letter-spacing: 3.30px;
  line-height: 22px;
  margin-top: 71px;
  min-height: 25px;
  min-width: 115px;
  white-space: nowrap;
}

.x08-tarifs-menu-desktop .tarifs-et-rservations {
  align-self: flex-start;
  cursor: pointer;
  letter-spacing: 3.30px;
  line-height: 22px;
  margin-top: 70px;
  min-height: 27px;
  white-space: nowrap;
}

.x08-tarifs-menu-desktop .rectangle-3220 {
  align-self: flex-start;
  background-color: var(--corn);
  height: 2px;
  margin-top: 4px;
  width: 352px;
}

.x08-tarifs-menu-desktop .activits-et-tourisme {
  align-self: center;
  cursor: pointer;
  letter-spacing: 3.30px;
  line-height: 22px;
  margin-left: 11.0px;
  margin-top: 66px;
  min-height: 27px;
  min-width: 331px;
  white-space: nowrap;
}

.x08-tarifs-menu-desktop .place {
  cursor: pointer;
  letter-spacing: 3.30px;
  line-height: 22px;
  margin-right: 1px;
  margin-top: 71px;
  min-height: 25px;
  min-width: 128px;
  white-space: nowrap;
}

.x08-tarifs-menu-desktop .composant-6-16 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  margin-left: 58px;
  min-width: 20px;
}

.x08-tarifs-menu-desktop .overlap-group-1 {
  height: 20px;
  margin-bottom: 0;
  position: relative;
  width: 20px;
}

.x08-tarifs-menu-desktop .rectangle-3216 {
  background-color: var(--black);
  border-radius: 2px;
  height: 3px;
  left: -3px;
  position: absolute;
  top: 9px;
  transform: rotate(45.00deg);
  width: 26px;
}
/* screen - 08-tarifs-menu-mobile-all-breakpoints */

.x08-tarifs-menu-mobile-all-breakpoints {
  align-items: flex-start;
  background-color: var(--bianca);
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 809px;
  overflow: hidden;
  width: 375px;
}

.x08-tarifs-menu-mobile-all-breakpoints .flex-row-2 {
  align-items: center;
  display: flex;
  gap: 119px;
  margin-left: 24.4px;
  margin-top: 16px;
  min-width: 187px;
}

.x08-tarifs-menu-mobile-all-breakpoints .composant-6-10 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  margin-bottom: 0.81px;
  min-width: 20px;
}

.x08-tarifs-menu-mobile-all-breakpoints .overlap-group6 {
  height: 20px;
  margin-bottom: 0;
  position: relative;
  width: 20px;
}

.x08-tarifs-menu-mobile-all-breakpoints .flex-row-3 {
  align-items: flex-start;
  display: flex;
  height: 33px;
  margin-right: 1.33px;
  min-width: 33px;
}

.x08-tarifs-menu-mobile-all-breakpoints .overlap-group-3 {
  align-self: center;
  height: 31px;
  margin-bottom: 0.18px;
  margin-left: 1px;
  position: relative;
  width: 10px;
}

.x08-tarifs-menu-mobile-all-breakpoints .groupe-7477-2 {
  background-image: url(../img/groupe-10146@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 6px;
  opacity: 0.28;
  position: absolute;
  top: 19px;
  width: 1px;
}

.x08-tarifs-menu-mobile-all-breakpoints .groupe-75 {
  background-image: url(../img/groupe-10167@1x.png);
  left: 9px;
  top: 11px;
}

.x08-tarifs-menu-mobile-all-breakpoints .groupe-7 {
  background-image: url(../img/groupe-10167@1x.png);
  left: 1px;
  top: 10px;
}

.x08-tarifs-menu-mobile-all-breakpoints .overlap-group3-2 {
  align-items: flex-start;
  align-self: center;
  background-image: url(../img/trac--2660-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  margin-top: 1.54px;
  min-width: 4px;
}

.x08-tarifs-menu-mobile-all-breakpoints .overlap-group4 {
  align-self: flex-end;
  height: 22px;
  margin-left: 1px;
  position: relative;
  width: 10px;
}

.x08-tarifs-menu-mobile-all-breakpoints .overlap-group-container-1 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
}

.x08-tarifs-menu-mobile-all-breakpoints .overlap-group2-2 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 3px;
}

.x08-tarifs-menu-mobile-all-breakpoints .overlap-group1-2 {
  height: 22px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 7px;
}

.x08-tarifs-menu-mobile-all-breakpoints .groupe-7786-2 {
  background-image: url(../img/groupe-10044@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 0;
  opacity: 0.28;
  position: absolute;
  top: 16px;
  width: 1px;
}

.x08-tarifs-menu-mobile-all-breakpoints .groupe-7795-2 {
  background-image: url(../img/groupe-10002@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 19px;
  width: 1px;
}

.x08-tarifs-menu-mobile-all-breakpoints .groupe-7807-2 {
  background-image: url(../img/groupe-10101@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 9px;
  width: 1px;
}

.x08-tarifs-menu-mobile-all-breakpoints .groupe-78 {
  background-image: url(../img/groupe-10146@1x.png);
  left: 1px;
  top: 17px;
}

.x08-tarifs-menu-mobile-all-breakpoints .overlap-group7-1 {
  height: 5470px;
  margin-left: -474px;
  position: relative;
  width: 1341px;
}

.x08-tarifs-menu-mobile-all-breakpoints .groupe-de-masques-15 {
  height: 689px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1341px;
}

.x08-tarifs-menu-mobile-all-breakpoints .rectangle-2982 {
  background-color: var(--bianca);
  border-radius: 30px 30px 0px 0px;
  height: 689px;
  left: 474px;
  opacity: 0.64;
  position: absolute;
  top: 0;
  width: 375px;
}

.x08-tarifs-menu-mobile-all-breakpoints .rectangle-1470 {
  background-color: var(--bianca);
  border-radius: 30px 30px 0px 0px;
  height: 4850px;
  left: 474px;
  position: absolute;
  top: 620px;
  width: 375px;
}

.x08-tarifs-menu-mobile-all-breakpoints .dcouvrez-le-charme {
  left: 524px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 652px;
  white-space: nowrap;
}

.x08-tarifs-menu-mobile-all-breakpoints .rectangle-3219 {
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 730px;
  left: 474px;
  opacity: 0.49;
  position: absolute;
  top: 0;
  width: 375px;
}

.x08-tarifs-menu-mobile-all-breakpoints .rectangle-3221 {
  background-color: var(--bianca);
  height: 730px;
  left: 474px;
  position: absolute;
  top: 0;
  width: 375px;
}

.x08-tarifs-menu-mobile-all-breakpoints .accueil-2 {
  cursor: pointer;
  left: 616px;
  letter-spacing: 2.70px;
  line-height: 18px;
  position: absolute;
  top: 110px;
  white-space: nowrap;
}

.x08-tarifs-menu-mobile-all-breakpoints .explorer-le-gte-2 {
  cursor: pointer;
  left: 559px;
  letter-spacing: 2.70px;
  line-height: 18px;
  position: absolute;
  top: 186px;
  white-space: nowrap;
}

.x08-tarifs-menu-mobile-all-breakpoints .galerie-2 {
  cursor: pointer;
  left: 616px;
  letter-spacing: 2.70px;
  line-height: 18px;
  position: absolute;
  top: 264px;
  white-space: nowrap;
}

.x08-tarifs-menu-mobile-all-breakpoints .tarifs-et-rservations-2 {
  cursor: pointer;
  left: 520px;
  letter-spacing: 2.70px;
  line-height: 18px;
  position: absolute;
  top: 340px;
  white-space: nowrap;
}

.x08-tarifs-menu-mobile-all-breakpoints .activits-et-tourisme-2 {
  cursor: pointer;
  left: 528px;
  letter-spacing: 2.70px;
  line-height: 18px;
  position: absolute;
  top: 418px;
  white-space: nowrap;
}

.x08-tarifs-menu-mobile-all-breakpoints .place-2 {
  cursor: pointer;
  left: 611px;
  letter-spacing: 2.70px;
  line-height: 18px;
  position: absolute;
  top: 494px;
  white-space: nowrap;
}

.x08-tarifs-menu-mobile-all-breakpoints .rectangle-3829 {
  background-color: var(--corn);
  height: 2px;
  left: 521px;
  position: absolute;
  top: 365px;
  width: 283px;
}

.x08-tarifs-menu-mobile-all-breakpoints .groupe {
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  opacity: 0.28;
  position: absolute;
  width: 1px;
}
/* screen - 08-tarifs-menu-tablette */

.x08-tarifs-menu-tablette {
  align-items: flex-start;
  background-color: var(--bianca);
  display: flex;
  height: 432px;
  padding: 11.4px 13.2px;
  width: 768px;
}

.x08-tarifs-menu-tablette .groupe-8005-1 {
  display: flex;
  height: 159px;
  margin-left: 135px;
  margin-top: 133.64px;
  overflow: hidden;
  width: 149px;
}

.x08-tarifs-menu-tablette .groupe-8004-1 {
  display: flex;
  flex: 1;
  margin-bottom: 0;
  margin-top: 0;
  width: 148.69px;
}

.x08-tarifs-menu-tablette .groupe-8003-1 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  width: 148.69px;
}

.x08-tarifs-menu-tablette .flex-row-1 {
  align-items: flex-end;
  display: flex;
  height: 101px;
  margin-right: 4.17px;
  min-width: 102px;
}

.x08-tarifs-menu-tablette .groupe-7570-1 {
  align-self: flex-start;
  background-image: url(../img/groupe-10134@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  margin-top: 6.3px;
  opacity: 0.28;
  width: 1px;
}

.x08-tarifs-menu-tablette .overlap-group1-1 {
  height: 98px;
  margin-bottom: 0.48px;
  margin-left: 4px;
  position: relative;
  width: 30px;
}

.x08-tarifs-menu-tablette .groupe-7408-1 {
  background-image: url(../img/groupe-7406-11@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 17px;
  opacity: 0.28;
  position: absolute;
  top: 72px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7411-1 {
  background-image: url(../img/groupe-7409-10-1x-png-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 17px;
  opacity: 0.28;
  position: absolute;
  top: 75px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7417-1 {
  background-image: url(../img/groupe-7415-11-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 3px;
  left: 18px;
  opacity: 0.28;
  position: absolute;
  top: 38px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7420-1 {
  background-image: url(../img/groupe-7418-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 16px;
  opacity: 0.28;
  position: absolute;
  top: 71px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7426-1 {
  background-image: url(../img/groupe-7424-8@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 19px;
  opacity: 0.28;
  position: absolute;
  top: 46px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7429-1 {
  background-image: url(../img/groupe-7427-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 18px;
  opacity: 0.28;
  position: absolute;
  top: 86px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7438-1 {
  background-image: url(../img/groupe-7436-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 18px;
  opacity: 0.28;
  position: absolute;
  top: 73px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7447-1 {
  background-image: url(../img/groupe-7445-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 17px;
  opacity: 0.28;
  position: absolute;
  top: 58px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7450-1 {
  background-image: url(../img/groupe-7448-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 17px;
  opacity: 0.28;
  position: absolute;
  top: 75px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7456-1 {
  background-image: url(../img/groupe-7454-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 16px;
  opacity: 0.28;
  position: absolute;
  top: 72px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7465-1 {
  background-image: url(../img/groupe-7463-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 16px;
  opacity: 0.28;
  position: absolute;
  top: 73px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7474-1 {
  background-image: url(../img/groupe-7472-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 18px;
  opacity: 0.28;
  position: absolute;
  top: 85px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7495-1 {
  background-image: url(../img/groupe-1273-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 20px;
  opacity: 0.28;
  position: absolute;
  top: 26px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7513-1 {
  background-image: url(../img/groupe-7511-11@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 19px;
  opacity: 0.28;
  position: absolute;
  top: 77px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7525-1 {
  background-image: url(../img/groupe-10092@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 19px;
  opacity: 0.28;
  position: absolute;
  top: 48px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7558-1 {
  background-image: url(../img/groupe-10128@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 27px;
  opacity: 0.28;
  position: absolute;
  top: 35px;
  width: 1px;
}

.x08-tarifs-menu-tablette .trac-2508-1 {
  height: 84px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 13px;
}

.x08-tarifs-menu-tablette .groupe-7573-1 {
  background-image: url(../img/groupe-7571-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 3px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 27px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7579-1 {
  background-image: url(../img/groupe-7532-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 28px;
  width: 1px;
}

.x08-tarifs-menu-tablette .overlap-group3-1 {
  align-items: flex-start;
  align-self: center;
  background-image: url(../img/trac--2660-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  margin-left: 1px;
  margin-top: 6.96px;
  min-width: 11px;
}

.x08-tarifs-menu-tablette .flex-col-2 {
  align-items: flex-start;
  gap: 4px;
  margin-bottom: 3.05px;
  margin-left: 4px;
  min-height: 61px;
  width: 7px;
}

.x08-tarifs-menu-tablette .group-container-4 {
  height: 52px;
  position: relative;
  width: 7px;
}

.x08-tarifs-menu-tablette .overlap-group-2 {
  height: 52px;
  left: 0;
  position: absolute;
  top: 0;
  width: 7px;
}

.x08-tarifs-menu-tablette .groupe-7600-1 {
  background-image: url(../img/groupe-7598-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 37px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7603-1 {
  background-image: url(../img/groupe-7601-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 45px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7606-1 {
  background-image: url(../img/groupe-7604-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 15px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7615-1 {
  background-image: url(../img/groupe-7613-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 3px;
  opacity: 0.28;
  position: absolute;
  top: 45px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7624-1 {
  background-image: url(../img/groupe-7622-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 37px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7657-1 {
  background-image: url(../img/groupe-1750-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 6px;
  opacity: 0.28;
  position: absolute;
  top: 43px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7666-1 {
  background-image: url(../img/groupe-7664-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 3px;
  opacity: 0.28;
  position: absolute;
  top: 44px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7738-1 {
  background-image: url(../img/groupe-10113@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 12px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7762-1 {
  background-image: url(../img/groupe-10113@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 4px;
  opacity: 0.28;
  position: absolute;
  top: 45px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7711-1 {
  background-image: url(../img/groupe-10113@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 0;
  opacity: 0.28;
  position: absolute;
  top: 25px;
  width: 1px;
}

.x08-tarifs-menu-tablette .overlap-group-container {
  height: 65px;
  margin-left: 1px;
  position: relative;
  width: 21px;
}

.x08-tarifs-menu-tablette .groupe-container-1 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 35px;
  width: 1px;
}

.x08-tarifs-menu-tablette .overlap-group2-1 {
  height: 65px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 21px;
}

.x08-tarifs-menu-tablette .groupe-7699-1 {
  background-image: url(../img/groupe-10107@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 0;
  opacity: 0.28;
  position: absolute;
  top: 29px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7774-1 {
  background-image: url(../img/groupe-7772-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 60px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7792-1 {
  background-image: url(../img/groupe-7790-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 50px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7795-1 {
  background-image: url(../img/groupe-7793-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 59px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7816-1 {
  background-image: url(../img/groupe-7814-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 53px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7846-1 {
  background-image: url(../img/groupe-7844-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 8px;
  opacity: 0.28;
  position: absolute;
  top: 57px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7852-1 {
  background-image: url(../img/groupe-7850-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 53px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7858-1 {
  background-image: url(../img/trac--2804-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 48px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7864-1 {
  background-image: url(../img/groupe-7862-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 7px;
  opacity: 0.28;
  position: absolute;
  top: 57px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7873-1 {
  background-image: url(../img/groupe-7871-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 4px;
  opacity: 0.28;
  position: absolute;
  top: 57px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7876-1 {
  background-image: url(../img/groupe-1639-9@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 7px;
  opacity: 0.28;
  position: absolute;
  top: 58px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7885-1 {
  background-image: url(../img/groupe-7883-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 54px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7891-1 {
  background-image: url(../img/groupe-7691-11@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 24px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7909-1 {
  background-image: url(../img/groupe-1381-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 13px;
  opacity: 0.28;
  position: absolute;
  top: 20px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7915-1 {
  background-image: url(../img/groupe-217-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 9px;
  opacity: 0.28;
  position: absolute;
  top: 53px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7918-1 {
  background-image: url(../img/groupe-10050@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 9px;
  opacity: 0.28;
  position: absolute;
  top: 52px;
  width: 1px;
}

.x08-tarifs-menu-tablette .groupe-7996-1 {
  background-image: url(../img/groupe-100-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 4px;
  opacity: 0.28;
  position: absolute;
  top: 27px;
  width: 1px;
}

.x08-tarifs-menu-tablette .flex-col-3 {
  align-items: flex-end;
  margin-left: 294px;
  margin-top: 102.63px;
  min-height: 205px;
  width: 128px;
}

.x08-tarifs-menu-tablette .accueil-1 {
  cursor: pointer;
  letter-spacing: 1.20px;
  line-height: 8px;
  min-height: 10px;
  min-width: 43px;
  white-space: nowrap;
}

.x08-tarifs-menu-tablette .explorer-le-gte-1 {
  cursor: pointer;
  letter-spacing: 1.20px;
  line-height: 8px;
  margin-top: 28px;
  min-height: 11px;
  min-width: 94px;
  white-space: nowrap;
}

.x08-tarifs-menu-tablette .galerie-1 {
  cursor: pointer;
  letter-spacing: 1.20px;
  line-height: 8px;
  margin-top: 30px;
  min-height: 10px;
  min-width: 43px;
  white-space: nowrap;
}

.x08-tarifs-menu-tablette .tarifs-et-rservations-1 {
  cursor: pointer;
  letter-spacing: 1.20px;
  line-height: 8px;
  margin-top: 28px;
  min-height: 11px;
  min-width: 128px;
  white-space: nowrap;
}

.x08-tarifs-menu-tablette .rectangle-3220-1 {
  background-color: var(--corn);
  height: 1px;
  margin-right: 2px;
  width: 126px;
}

.x08-tarifs-menu-tablette .activits-et-tourisme-1 {
  cursor: pointer;
  letter-spacing: 1.20px;
  line-height: 8px;
  margin-top: 26px;
  min-height: 11px;
  min-width: 122px;
  white-space: nowrap;
}

.x08-tarifs-menu-tablette .place-1 {
  cursor: pointer;
  letter-spacing: 1.20px;
  line-height: 8px;
  margin-top: 28px;
  min-height: 10px;
  min-width: 48px;
  white-space: nowrap;
}

.x08-tarifs-menu-tablette .composant-6-22 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  margin-left: 24px;
  min-width: 12px;
}

.x08-tarifs-menu-tablette .overlap-group7 {
  height: 12px;
  margin-bottom: 0;
  position: relative;
  width: 12px;
}

.x08-tarifs-menu-tablette .rectangle-3216-1 {
  background-color: var(--black);
  border-radius: 2px;
  height: 2px;
  left: -2px;
  position: absolute;
  top: 5px;
  transform: rotate(45.00deg);
  width: 16px;
}

.x08-tarifs-menu-tablette .rectangle-3222-1 {
  background-color: var(--black);
  border-radius: 2px;
  height: 2px;
  left: -2px;
  position: absolute;
  top: 5px;
  transform: rotate(-45.00deg);
  width: 16px;
}

.x08-tarifs-menu-tablette .flex-col {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .screen.x08-tarifs-menu-desktop { 
    display: none;
   }
  .screen.x08-tarifs-menu-tablette { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  .screen.x08-tarifs-menu-desktop { 
    display: none;
   }
  .screen.x08-tarifs-menu-mobile-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.x08-tarifs-menu-tablette { 
    display: none;
   }
  .screen.x08-tarifs-menu-mobile-all-breakpoints { 
    display: none;
   }
}