/* screen - activitiesmenu-768 */

.activitiesmenu-768 {
  align-items: flex-start;
  background-color: var(--bianca);
  display: flex;
  height: 432px;
  padding: 11.4px 13.2px;
  width: 768px;
}

.activitiesmenu-768 .groupe-8005 {
  display: flex;
  height: 159px;
  margin-left: 135px;
  margin-top: 133.64px;
  overflow: hidden;
  width: 149px;
}

.activitiesmenu-768 .groupe-8004 {
  display: flex;
  flex: 1;
  margin-bottom: 0;
  margin-top: 0;
  width: 148.69px;
}

.activitiesmenu-768 .groupe-8003 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  width: 148.69px;
}

.activitiesmenu-768 .flex-row {
  align-items: flex-end;
  display: flex;
  height: 101px;
  margin-right: 4.17px;
  min-width: 102px;
}

.activitiesmenu-768 .groupe-7570 {
  align-self: flex-start;
  background-image: url(../img/groupe-10134@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  margin-top: 6.3px;
  opacity: 0.28;
  width: 1px;
}

.activitiesmenu-768 .overlap-group1 {
  height: 98px;
  margin-bottom: 0.48px;
  margin-left: 4px;
  position: relative;
  width: 30px;
}

.activitiesmenu-768 .groupe-7405 {
  background-image: url(../img/groupe-7403-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 3px;
  left: 16px;
  opacity: 0.28;
  position: absolute;
  top: 74px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7408 {
  background-image: url(../img/groupe-7406-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 17px;
  opacity: 0.28;
  position: absolute;
  top: 72px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7411 {
  background-image: url(../img/groupe-7409-10-1x-png-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 17px;
  opacity: 0.28;
  position: absolute;
  top: 75px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7414 {
  background-image: url(../img/groupe-7412-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 17px;
  opacity: 0.28;
  position: absolute;
  top: 88px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7417 {
  background-image: url(../img/groupe-7415-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 3px;
  left: 18px;
  opacity: 0.28;
  position: absolute;
  top: 38px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7420 {
  background-image: url(../img/groupe-7418-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 16px;
  opacity: 0.28;
  position: absolute;
  top: 71px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7423 {
  background-image: url(../img/groupe-7421-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 17px;
  opacity: 0.28;
  position: absolute;
  top: 77px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7426 {
  background-image: url(../img/groupe-7424-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 19px;
  opacity: 0.28;
  position: absolute;
  top: 46px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7429 {
  background-image: url(../img/groupe-7427-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 18px;
  opacity: 0.28;
  position: absolute;
  top: 86px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7432 {
  background-image: url(../img/groupe-7430-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 16px;
  opacity: 0.28;
  position: absolute;
  top: 79px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7435 {
  background-image: url(../img/groupe-7433-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 18px;
  opacity: 0.28;
  position: absolute;
  top: 47px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7438 {
  background-image: url(../img/groupe-7436-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 18px;
  opacity: 0.28;
  position: absolute;
  top: 73px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7441 {
  background-image: url(../img/groupe-7439-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 17px;
  opacity: 0.28;
  position: absolute;
  top: 73px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7444 {
  background-image: url(../img/groupe-7442-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 17px;
  opacity: 0.28;
  position: absolute;
  top: 83px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7447 {
  background-image: url(../img/groupe-7445-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 17px;
  opacity: 0.28;
  position: absolute;
  top: 58px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7450 {
  background-image: url(../img/groupe-7448-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 17px;
  opacity: 0.28;
  position: absolute;
  top: 75px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7453 {
  background-image: url(../img/groupe-7451-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 17px;
  opacity: 0.28;
  position: absolute;
  top: 82px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7456 {
  background-image: url(../img/groupe-7454-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 16px;
  opacity: 0.28;
  position: absolute;
  top: 72px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7459 {
  background-image: url(../img/groupe-7457-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 19px;
  opacity: 0.28;
  position: absolute;
  top: 37px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7462 {
  background-image: url(../img/groupe-7460-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 16px;
  opacity: 0.28;
  position: absolute;
  top: 81px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7465 {
  background-image: url(../img/groupe-7463-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 16px;
  opacity: 0.28;
  position: absolute;
  top: 73px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7468 {
  background-image: url(../img/groupe-7466-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 16px;
  opacity: 0.28;
  position: absolute;
  top: 77px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7471 {
  background-image: url(../img/groupe-10239@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 17px;
  opacity: 0.28;
  position: absolute;
  top: 86px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7474 {
  background-image: url(../img/groupe-7472-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 18px;
  opacity: 0.28;
  position: absolute;
  top: 85px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7477 {
  background-image: url(../img/groupe-7475-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 17px;
  opacity: 0.28;
  position: absolute;
  top: 61px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7480 {
  background-image: url(../img/groupe-1279-6@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 16px;
  opacity: 0.28;
  position: absolute;
  top: 82px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7483 {
  background-image: url(../img/groupe-454-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 18px;
  opacity: 0.28;
  position: absolute;
  top: 89px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7486 {
  background-image: url(../img/groupe-1441-9@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 19px;
  opacity: 0.28;
  position: absolute;
  top: 39px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7489 {
  background-image: url(../img/groupe-1675-11@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 19px;
  opacity: 0.28;
  position: absolute;
  top: 41px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7492 {
  background-image: url(../img/groupe-10251@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 17px;
  opacity: 0.28;
  position: absolute;
  top: 78px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7495 {
  background-image: url(../img/groupe-1273-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 20px;
  opacity: 0.28;
  position: absolute;
  top: 26px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7498 {
  background-image: url(../img/groupe-1369-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 17px;
  opacity: 0.28;
  position: absolute;
  top: 85px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7501 {
  background-image: url(../img/groupe-10320@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 17px;
  opacity: 0.28;
  position: absolute;
  top: 67px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7504 {
  background-image: url(../img/groupe-1525-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 27px;
  opacity: 0.28;
  position: absolute;
  top: 36px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7507 {
  background-image: url(../img/groupe-1306-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 18px;
  opacity: 0.28;
  position: absolute;
  top: 83px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7510 {
  background-image: url(../img/groupe-10200@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 17px;
  opacity: 0.28;
  position: absolute;
  top: 86px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7513 {
  background-image: url(../img/groupe-7421-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 19px;
  opacity: 0.28;
  position: absolute;
  top: 77px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7516 {
  background-image: url(../img/groupe-10008@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 17px;
  opacity: 0.28;
  position: absolute;
  top: 55px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7519 {
  background-image: url(../img/groupe-250-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 19px;
  opacity: 0.28;
  position: absolute;
  top: 33px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7522 {
  background-image: url(../img/groupe-7520-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 17px;
  opacity: 0.28;
  position: absolute;
  top: 74px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7525 {
  background-image: url(../img/groupe-10092@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 19px;
  opacity: 0.28;
  position: absolute;
  top: 48px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7528 {
  background-image: url(../img/groupe-10299@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 18px;
  opacity: 0.28;
  position: absolute;
  top: 86px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7531 {
  background-image: url(../img/groupe-10089@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 16px;
  opacity: 0.28;
  position: absolute;
  top: 83px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7534 {
  background-image: url(../img/groupe-10107@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 22px;
  opacity: 0.28;
  position: absolute;
  top: 18px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7537 {
  background-image: url(../img/groupe-10014@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 16px;
  opacity: 0.28;
  position: absolute;
  top: 86px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7540 {
  background-image: url(../img/groupe-10008@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 19px;
  opacity: 0.28;
  position: absolute;
  top: 32px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7543 {
  background-image: url(../img/groupe-10113@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 17px;
  opacity: 0.28;
  position: absolute;
  top: 80px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7546 {
  background-image: url(../img/groupe-10332@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 27px;
  opacity: 0.28;
  position: absolute;
  top: 36px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7549 {
  background-image: url(../img/groupe-10113@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 16px;
  opacity: 0.28;
  position: absolute;
  top: 71px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7552 {
  background-image: url(../img/groupe-7550-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 18px;
  opacity: 0.28;
  position: absolute;
  top: 75px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7555 {
  background-image: url(../img/groupe-100-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 28px;
  opacity: 0.28;
  position: absolute;
  top: 17px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7558 {
  background-image: url(../img/groupe-100-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 27px;
  opacity: 0.28;
  position: absolute;
  top: 35px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7561 {
  background-image: url(../img/groupe-10113@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 19px;
  opacity: 0.28;
  position: absolute;
  top: 88px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7564 {
  background-image: url(../img/groupe-100-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 18px;
  opacity: 0.28;
  position: absolute;
  top: 81px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7567 {
  background-image: url(../img/groupe-10338@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 20px;
  opacity: 0.28;
  position: absolute;
  top: 60px;
  width: 1px;
}

.activitiesmenu-768 .trac-2508 {
  height: 84px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 13px;
}

.activitiesmenu-768 .groupe-7573 {
  background-image: url(../img/groupe-7571-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 3px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 27px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7576 {
  background-image: url(../img/groupe-7574-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 26px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7579 {
  background-image: url(../img/groupe-7532-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 28px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7582 {
  background-image: url(../img/groupe-1441-9@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 31px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7585 {
  background-image: url(../img/groupe-7499-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 14px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7588 {
  background-image: url(../img/groupe-10308@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 22px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7591 {
  background-image: url(../img/groupe-4371-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 5px;
  opacity: 0.28;
  position: absolute;
  top: 4px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7594 {
  background-image: url(../img/groupe-1306-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 21px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7597 {
  background-image: url(../img/groupe-10338@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 11px;
  opacity: 0.28;
  position: absolute;
  top: 4px;
  width: 1px;
}

.activitiesmenu-768 .trac-2519 {
  height: 98px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 18px;
}

.activitiesmenu-768 .overlap-group3 {
  align-items: flex-start;
  align-self: center;
  background-image: url(../img/trac--2660-6@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  margin-left: 1px;
  margin-top: 6.96px;
  min-width: 11px;
}

.activitiesmenu-768 .trac-2661 {
  height: 25px;
  object-fit: cover;
  width: 11px;
}

.activitiesmenu-768 .trac-2658 {
  align-self: flex-start;
  height: 100px;
  margin-left: 3px;
  object-fit: cover;
  width: 19px;
}

.activitiesmenu-768 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 3.05px;
  margin-left: 4px;
  min-height: 61px;
  width: 7px;
}

.activitiesmenu-768 .trac-2583 {
  height: 5px;
  margin-left: 1.34px;
  object-fit: cover;
  width: 5px;
}

.activitiesmenu-768 .group-container {
  height: 52px;
  position: relative;
  width: 7px;
}

.activitiesmenu-768 .overlap-group {
  height: 52px;
  left: 0;
  position: absolute;
  top: 0;
  width: 7px;
}

.activitiesmenu-768 .groupe-7600 {
  background-image: url(../img/groupe-7598-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 37px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7603 {
  background-image: url(../img/groupe-7601-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 45px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7606 {
  background-image: url(../img/groupe-7604-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 15px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7609 {
  background-image: url(../img/groupe-7607-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 39px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7612 {
  background-image: url(../img/groupe-7610-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 20px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7615 {
  background-image: url(../img/groupe-7613-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 3px;
  opacity: 0.28;
  position: absolute;
  top: 45px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7621 {
  background-image: url(../img/groupe-7619-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 21px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7624 {
  background-image: url(../img/groupe-7622-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 37px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7627 {
  background-image: url(../img/groupe-7625-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 36px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7630 {
  background-image: url(../img/groupe-7628-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 42px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7633 {
  background-image: url(../img/trac--1388-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 0;
  opacity: 0.28;
  position: absolute;
  top: 27px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7636 {
  background-image: url(../img/groupe-7634-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 6px;
  opacity: 0.28;
  position: absolute;
  top: 42px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7639 {
  background-image: url(../img/groupe-4761-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 38px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7642 {
  background-image: url(../img/groupe-7763-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 42px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7645 {
  background-image: url(../img/groupe-7643-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 6px;
  opacity: 0.28;
  position: absolute;
  top: 43px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7648 {
  background-image: url(../img/groupe-4446-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 15px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7651 {
  background-image: url(../img/groupe-4527-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 0;
  opacity: 0.28;
  position: absolute;
  top: 41px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7654 {
  background-image: url(../img/groupe-1780-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 6px;
  opacity: 0.28;
  position: absolute;
  top: 45px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7657 {
  background-image: url(../img/groupe-1750-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 6px;
  opacity: 0.28;
  position: absolute;
  top: 43px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7660 {
  background-image: url(../img/groupe-4539-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 5px;
  opacity: 0.28;
  position: absolute;
  top: 43px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7663 {
  background-image: url(../img/groupe-7661-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 45px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7666 {
  background-image: url(../img/groupe-7664-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 3px;
  opacity: 0.28;
  position: absolute;
  top: 44px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7669 {
  background-image: url(../img/groupe-10320@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 6px;
  opacity: 0.28;
  position: absolute;
  top: 44px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7672 {
  background-image: url(../img/groupe-10302@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 0;
  opacity: 0.28;
  position: absolute;
  top: 29px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7675 {
  background-image: url(../img/groupe-10074@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 0;
  opacity: 0.28;
  position: absolute;
  top: 42px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7678 {
  background-image: url(../img/groupe-10086@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 3px;
  opacity: 0.28;
  position: absolute;
  top: 46px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7681 {
  background-image: url(../img/groupe-1297-6@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 16px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7684 {
  background-image: url(../img/groupe-10107@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 18px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7687 {
  background-image: url(../img/groupe-10092@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 9px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7690 {
  background-image: url(../img/groupe-4551-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 44px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7696 {
  background-image: url(../img/groupe-10008@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 43px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7702 {
  background-image: url(../img/groupe-100-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 44px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7705 {
  background-image: url(../img/groupe-10011@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 5px;
  opacity: 0.28;
  position: absolute;
  top: 42px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7708 {
  background-image: url(../img/groupe-10008@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 39px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7714 {
  background-image: url(../img/groupe-10344@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 13px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7717 {
  background-image: url(../img/groupe-10344@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 5px;
  opacity: 0.28;
  position: absolute;
  top: 44px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7723 {
  background-image: url(../img/groupe-10089@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 21px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7726 {
  background-image: url(../img/groupe-10008@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 3px;
  opacity: 0.28;
  position: absolute;
  top: 44px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7729 {
  background-image: url(../img/groupe-10134@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 43px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7732 {
  background-image: url(../img/groupe-10344@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 4px;
  opacity: 0.28;
  position: absolute;
  top: 3px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7735 {
  background-image: url(../img/groupe-10134@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 44px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7738 {
  background-image: url(../img/groupe-10113@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 12px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7741 {
  background-image: url(../img/groupe-10101@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 41px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7747 {
  background-image: url(../img/groupe-10014@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 6px;
  opacity: 0.28;
  position: absolute;
  top: 45px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7750 {
  background-image: url(../img/groupe-10146@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 38px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7762 {
  background-image: url(../img/groupe-10113@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 4px;
  opacity: 0.28;
  position: absolute;
  top: 45px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7765 {
  background-image: url(../img/groupe-10146@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 3px;
  opacity: 0.28;
  position: absolute;
  top: 19px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7768 {
  background-image: url(../img/groupe-10116@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 41px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7771 {
  background-image: url(../img/groupe-10122@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 3px;
  opacity: 0.28;
  position: absolute;
  top: 29px;
  width: 1px;
}

.activitiesmenu-768 .trac-2582 {
  height: 52px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 5px;
}

.activitiesmenu-768 .groupe-7711 {
  background-image: url(../img/groupe-10113@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 0;
  opacity: 0.28;
  position: absolute;
  top: 25px;
  width: 1px;
}

.activitiesmenu-768 .overlap-group-container {
  height: 65px;
  margin-left: 1px;
  position: relative;
  width: 21px;
}

.activitiesmenu-768 .groupe-container {
  height: 2px;
  left: 0;
  position: absolute;
  top: 35px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7618 {
  background-image: url(../img/groupe-4494-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 0;
  opacity: 0.28;
  position: absolute;
  top: 0;
  width: 1px;
}

.activitiesmenu-768 .groupe-7753 {
  background-image: url(../img/groupe-10116@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 0;
  opacity: 0.28;
  position: absolute;
  top: 1px;
  width: 1px;
}

.activitiesmenu-768 .overlap-group2 {
  height: 65px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 21px;
}

.activitiesmenu-768 .groupe-7693 {
  background-image: url(../img/groupe-10326@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 24px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7699 {
  background-image: url(../img/groupe-10107@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 0;
  opacity: 0.28;
  position: absolute;
  top: 29px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7720 {
  background-image: url(../img/groupe-10200@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 0;
  opacity: 0.28;
  position: absolute;
  top: 34px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7744 {
  background-image: url(../img/groupe-10134@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 25px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7756 {
  background-image: url(../img/groupe-10101@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 14px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7759 {
  background-image: url(../img/groupe-10167@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 24px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7774 {
  background-image: url(../img/groupe-7772-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 60px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7777 {
  background-image: url(../img/groupe-7775-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 56px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7780 {
  background-image: url(../img/groupe-7778-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 62px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7783 {
  background-image: url(../img/groupe-7781-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 64px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7786 {
  background-image: url(../img/groupe-7784-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 49px;
  width: 2px;
}

.activitiesmenu-768 .groupe-7789 {
  background-image: url(../img/groupe-7787-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 47px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7792 {
  background-image: url(../img/groupe-7790-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 50px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7795 {
  background-image: url(../img/groupe-7793-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 59px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7798 {
  background-image: url(../img/groupe-7796-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 23px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7801 {
  background-image: url(../img/groupe-7799-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 46px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7804 {
  background-image: url(../img/groupe-7802-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 51px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7807 {
  background-image: url(../img/groupe-7805-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 3px;
  opacity: 0.28;
  position: absolute;
  top: 29px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7810 {
  background-image: url(../img/groupe-7808-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 9px;
  opacity: 0.28;
  position: absolute;
  top: 53px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7813 {
  background-image: url(../img/groupe-7811-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 3px;
  opacity: 0.28;
  position: absolute;
  top: 58px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7816 {
  background-image: url(../img/groupe-7814-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 53px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7819 {
  background-image: url(../img/groupe-7817-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 29px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7822 {
  background-image: url(../img/groupe-7820-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 3px;
  opacity: 0.28;
  position: absolute;
  top: 49px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7825 {
  background-image: url(../img/groupe-7823-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 48px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7828 {
  background-image: url(../img/groupe-7826-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 55px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7831 {
  background-image: url(../img/groupe-1522-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 38px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7834 {
  background-image: url(../img/groupe-7832-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 7px;
  opacity: 0.28;
  position: absolute;
  top: 56px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7837 {
  background-image: url(../img/groupe-1492-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 50px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7840 {
  background-image: url(../img/groupe-1501-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 55px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7843 {
  background-image: url(../img/groupe-7841-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 47px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7846 {
  background-image: url(../img/groupe-7844-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 8px;
  opacity: 0.28;
  position: absolute;
  top: 57px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7849 {
  background-image: url(../img/groupe-7847-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 23px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7852 {
  background-image: url(../img/groupe-7850-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 53px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7855 {
  background-image: url(../img/groupe-7853-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 7px;
  opacity: 0.28;
  position: absolute;
  top: 59px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7858 {
  background-image: url(../img/trac--2804-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 48px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7861 {
  background-image: url(../img/groupe-1666-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 0;
  opacity: 0.28;
  position: absolute;
  top: 51px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7864 {
  background-image: url(../img/groupe-7862-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 7px;
  opacity: 0.28;
  position: absolute;
  top: 57px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7867 {
  background-image: url(../img/trac--408-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 7px;
  opacity: 0.28;
  position: absolute;
  top: 56px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7870 {
  background-image: url(../img/groupe-7868-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 58px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7873 {
  background-image: url(../img/groupe-7871-11-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 4px;
  opacity: 0.28;
  position: absolute;
  top: 57px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7876 {
  background-image: url(../img/groupe-1639-9@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 7px;
  opacity: 0.28;
  position: absolute;
  top: 58px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7879 {
  background-image: url(../img/groupe-1693-11@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 9px;
  opacity: 0.28;
  position: absolute;
  top: 55px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7882 {
  background-image: url(../img/groupe-4797-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 39px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7885 {
  background-image: url(../img/groupe-7883-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 54px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7888 {
  background-image: url(../img/groupe-454-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 4px;
  opacity: 0.28;
  position: absolute;
  top: 60px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7891 {
  background-image: url(../img/groupe-7691-11@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 24px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7894 {
  background-image: url(../img/groupe-4536-1-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 26px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7897 {
  background-image: url(../img/groupe-4371-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 52px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7900 {
  background-image: url(../img/groupe-1450-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 15px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7903 {
  background-image: url(../img/groupe-1696-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 3px;
  opacity: 0.28;
  position: absolute;
  top: 57px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7906 {
  background-image: url(../img/groupe-4551-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 44px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7909 {
  background-image: url(../img/groupe-1381-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 13px;
  opacity: 0.28;
  position: absolute;
  top: 20px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7912 {
  background-image: url(../img/groupe-1306-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 3px;
  opacity: 0.28;
  position: absolute;
  top: 56px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7915 {
  background-image: url(../img/groupe-217-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 9px;
  opacity: 0.28;
  position: absolute;
  top: 53px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7918 {
  background-image: url(../img/groupe-10050@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 9px;
  opacity: 0.28;
  position: absolute;
  top: 52px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7921 {
  background-image: url(../img/groupe-10086@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 13px;
  opacity: 0.28;
  position: absolute;
  top: 26px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7924 {
  background-image: url(../img/groupe-10011@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 3px;
  opacity: 0.28;
  position: absolute;
  top: 57px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7927 {
  background-image: url(../img/groupe-7925-10-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 8px;
  opacity: 0.28;
  position: absolute;
  top: 58px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7930 {
  background-image: url(../img/groupe-1303-6@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 7px;
  opacity: 0.28;
  position: absolute;
  top: 55px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7933 {
  background-image: url(../img/groupe-10074@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 4px;
  opacity: 0.28;
  position: absolute;
  top: 51px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7936 {
  background-image: url(../img/groupe-10332@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 35px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7939 {
  background-image: url(../img/groupe-10086@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 8px;
  opacity: 0.28;
  position: absolute;
  top: 56px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7942 {
  background-image: url(../img/groupe-10086@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 20px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7945 {
  background-image: url(../img/groupe-10050@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 49px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7948 {
  background-image: url(../img/groupe-10308@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 7px;
  opacity: 0.28;
  position: absolute;
  top: 58px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7951 {
  background-image: url(../img/groupe-10308@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 13px;
  opacity: 0.28;
  position: absolute;
  top: 32px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7954 {
  background-image: url(../img/groupe-10299@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 3px;
  opacity: 0.28;
  position: absolute;
  top: 30px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7957 {
  background-image: url(../img/groupe-250-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 3px;
  opacity: 0.28;
  position: absolute;
  top: 58px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7960 {
  background-image: url(../img/groupe-10005@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 56px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7963 {
  background-image: url(../img/groupe-178-3@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 4px;
  opacity: 0.28;
  position: absolute;
  top: 8px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7966 {
  background-image: url(../img/groupe-10005@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 57px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7969 {
  background-image: url(../img/groupe-10077@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 19px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7972 {
  background-image: url(../img/groupe-4824-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 2px;
  opacity: 0.28;
  position: absolute;
  top: 53px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7975 {
  background-image: url(../img/groupe-178-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 13px;
  opacity: 0.28;
  position: absolute;
  top: 21px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7978 {
  background-image: url(../img/groupe-10116@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 1px;
  opacity: 0.28;
  position: absolute;
  top: 47px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7981 {
  background-image: url(../img/groupe-10107@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 7px;
  opacity: 0.28;
  position: absolute;
  top: 60px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7984 {
  background-image: url(../img/groupe-10128@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 3px;
  opacity: 0.28;
  position: absolute;
  top: 50px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7987 {
  background-image: url(../img/groupe-100-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 11px;
  opacity: 0.28;
  position: absolute;
  top: 7px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7990 {
  background-image: url(../img/groupe-10128@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 13px;
  opacity: 0.28;
  position: absolute;
  top: 20px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7993 {
  background-image: url(../img/groupe-10113@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 5px;
  opacity: 0.28;
  position: absolute;
  top: 59px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7996 {
  background-image: url(../img/groupe-100-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 4px;
  opacity: 0.28;
  position: absolute;
  top: 27px;
  width: 1px;
}

.activitiesmenu-768 .groupe-7999 {
  background-image: url(../img/groupe-10200@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 3px;
  opacity: 0.28;
  position: absolute;
  top: 54px;
  width: 1px;
}

.activitiesmenu-768 .groupe-8002 {
  background-image: url(../img/groupe-100-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 5px;
  opacity: 0.28;
  position: absolute;
  top: 39px;
  width: 1px;
}

.activitiesmenu-768 .trac-2657 {
  height: 65px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 20px;
}

.activitiesmenu-768 .trac-2659 {
  height: 48px;
  object-fit: cover;
  width: 149px;
}

.activitiesmenu-768 .flex-col-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 294px;
  margin-top: 102.63px;
  min-height: 205px;
  width: 128px;
}

.activitiesmenu-768 .accueil {
  cursor: pointer;
  letter-spacing: 1.20px;
  line-height: 8px;
  min-height: 10px;
  min-width: 43px;
  white-space: nowrap;
}

.activitiesmenu-768 .explorer-le-gte {
  cursor: pointer;
  letter-spacing: 1.20px;
  line-height: 8px;
  margin-top: 28px;
  min-height: 11px;
  min-width: 94px;
  white-space: nowrap;
}

.activitiesmenu-768 .galerie {
  cursor: pointer;
  letter-spacing: 1.20px;
  line-height: 8px;
  margin-top: 30px;
  min-height: 10px;
  min-width: 43px;
  white-space: nowrap;
}

.activitiesmenu-768 .tarifs-et-rservations {
  cursor: pointer;
  letter-spacing: 1.20px;
  line-height: 8px;
  margin-top: 28px;
  min-height: 11px;
  min-width: 128px;
  white-space: nowrap;
}

.activitiesmenu-768 .activits-et-tourisme {
  cursor: pointer;
  letter-spacing: 1.20px;
  line-height: 8px;
  margin-top: 28px;
  min-height: 11px;
  min-width: 122px;
  white-space: nowrap;
}

.activitiesmenu-768 .rectangle-3220 {
  background-color: var(--corn);
  height: 1px;
  margin-right: 2px;
  width: 120px;
}

.activitiesmenu-768 .place {
  cursor: pointer;
  letter-spacing: 1.20px;
  line-height: 8px;
  margin-top: 27px;
  min-height: 10px;
  min-width: 48px;
  white-space: nowrap;
}

.activitiesmenu-768 .composant-6-23 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  margin-left: 24px;
  min-width: 12px;
}

.activitiesmenu-768 .overlap-group7 {
  height: 12px;
  margin-bottom: 0;
  position: relative;
  width: 12px;
}

.activitiesmenu-768 .rectangle-3216 {
  background-color: var(--black);
  border-radius: 2px;
  height: 2px;
  left: -2px;
  position: absolute;
  top: 5px;
  transform: rotate(45.00deg);
  width: 16px;
}

.activitiesmenu-768 .rectangle-3222 {
  background-color: var(--black);
  border-radius: 2px;
  height: 2px;
  left: -2px;
  position: absolute;
  top: 5px;
  transform: rotate(-45.00deg);
  width: 16px;
}
