:root { 
  --bianca: #fcf7f2;
  --black: #000000;
  --corn: #edc000;
  --dove-gray: #707070;
  --gravel: #474747;
  --white: #ffffff;
 
  --font-size-l: 12px;
  --font-size-m: 10px;
  --font-size-s: 8px;
  --font-size-xl: 13px;
  --font-size-xs: 7px;
  --font-size-xxl: 14px;
  --font-size-xxxl: 18px;
 
  --font-family-josefin_sans: "Josefin Sans", Helvetica;
}
.josefinsans-medium-black-8px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.josefinsans-medium-black-7px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.josefinsans-light-black-13px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 300;
}

.josefinsans-light-black-16px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}

.josefinsans-light-black-7px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 300;
}

.josefinsans-light-black-8px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 300;
}

.josefinsans-medium-black-18px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}

.josefinsans-medium-black-9px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
}

.josefinsans-medium-black-16px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.josefinsans-medium-black-13px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.josefinsans-normal-white-11px {
  color: var(--white);
  font-family: var(--font-family-josefin_sans);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}

.josefinsans-bold-black-13px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.josefinsans-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.josefinsans-light-black-18px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 300;
}

.josefinsans-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.josefinsans-medium-black-10px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.josefinsans-normal-black-9px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
}

.josefinsans-bold-black-7px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}

.josefinsans-bold-black-8px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.josefinsans-normal-white-13px {
  color: var(--white);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.josefinsans-medium-black-14px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.josefinsans-bold-white-12px {
  color: var(--white);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.josefinsans-bold-black-16px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.josefinsans-medium-black-17px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
}

.josefinsans-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.josefinsans-bold-black-31px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
}

.josefinsans-bold-black-17px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
}

.josefinsans-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.josefinsans-normal-white-17px {
  color: var(--white);
  font-family: var(--font-family-josefin_sans);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}

.josefinsans-medium-black-15px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}

.josefinsans-bold-black-12px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.josefinsans-bold-gravel-14px {
  color: var(--gravel);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.josefinsans-bold-white-22px {
  color: var(--white);
  font-family: var(--font-family-josefin_sans);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}

.josefinsans-bold-black-33px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
}

.josefinsans-bold-gravel-27px {
  color: var(--gravel);
  font-family: var(--font-family-josefin_sans);
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
}

.josefinsans-normal-white-10px {
  color: var(--white);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.josefinsans-bold-black-34px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
}

.josefinsans-medium-white-14px {
  color: var(--white);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.josefinsans-bold-white-10px {
  color: var(--white);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.josefinsans-bold-white-17px {
  color: var(--white);
  font-family: var(--font-family-josefin_sans);
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
}

.josefinsans-medium-black-12px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.josefinsans-bold-black-18px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.josefinsans-normal-black-17px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}

.josefinsans-bold-white-23px {
  color: var(--white);
  font-family: var(--font-family-josefin_sans);
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
}

.josefinsans-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-josefin_sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.josefinsans-bold-black-15px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}

.josefinsans-bold-white-8px {
  color: var(--white);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.josefinsans-medium-white-7px {
  color: var(--white);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.josefinsans-medium-white-8px {
  color: var(--white);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.josefinsans-normal-black-13px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.josefinsans-bold-black-39px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: 39px;
  font-style: normal;
  font-weight: 700;
}

.josefinsans-bold-gravel-26px {
  color: var(--gravel);
  font-family: var(--font-family-josefin_sans);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
}

.josefinsans-normal-black-10px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.josefinsans-bold-black-9px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
}

.josefinsans-bold-white-15px {
  color: var(--white);
  font-family: var(--font-family-josefin_sans);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}

.josefinsans-medium-white-10px {
  color: var(--white);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.josefinsans-bold-black-10px {
  color: var(--black);
  font-family: var(--font-family-josefin_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
